:root {
  --Light_red: hsl(0, 100%, 67%);
  --Orangey_yellow: hsl(39, 100%, 56%);
  --Green_teal: hsl(166, 100%, 37%);
  --Cobalt_blue: hsl(234, 85%, 45%);

  --Light_slate_blue: hsl(252, 100%, 67%);
  --Light_royal_blue: hsl(241, 81%, 54%);

  --Violet_blue: hsla(256, 72%, 46%, 1);
  --Persian_blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale_blue: hsl(221, 100%, 96%);
  --Light_lavender: hsl(241, 100%, 89%);
  --Dark_gray_blue: hsl(224, 30%, 27%);
}

@media screen and (max-width: 800px) {
  .first-card {
    border-radius: 0 !important;
    border-end-end-radius: 1.5em !important;
    border-end-start-radius: 1.5em !important;
    width: 19em !important;
    height: 50% !important;
    justify-content: space-evenly !important;
  }
  .result-text {
    font-size: 0.9em;
  }
  .description-card {
    font-size: 0.8em !important;
    width: 80% !important;
    margin-bottom: 1.5em !important;
  }
  .great-title {
    font-size: 1.7em !important;
    margin-bottom: 1em;
  }
}

.first-card {
  background: linear-gradient(
    to bottom,
    var(--Light_slate_blue),
    var(--Light_royal_blue)
  );
  flex: 1;
  height: auto;
  border-radius: 1.8em;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
}

.result-text {
  opacity: 0.7;
  font-family: "Hanken Grotesk", sans-serif;
}
.great-title {
  font-size: 2em;
}
.description-card {
  font-size: 0.9em;
  opacity: 0.6;
  font-weight: 700;
  width: 70%;
  text-align: center;
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-top: -1.7em;
}
