@media screen and (max-width: 800px) {
  .secondly-card {
    width: 19em !important;
  }
  .secondly-title {
    font-size: 1em !important;
  }
  .secondly-center {
    height: 2.5em;
    font-size: 0.9em;
    font-weight: 300 !important;
  }
  .infocard-place {
    margin-bottom: 0.7em;
  }
  .secondly-button {
    height: 2.8em !important;
  }
  .count-p {
    font-size: 0.9em;
    font-weight: bold !important;
  }
  .percent-right {
    font-size: 0.9em;
    font-weight: bold;
  }
  .secondly-inside {
    width: 85% !important;
  }
}
.secondly-card {
  background-color: #fff;
  width: 20em;
  flex: 1;
}
.secondly-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: start;
}

.secondly-title {
  margin-top: 1.5em;
  opacity: 0.7;
  font-size: 1.4em;
  flex: 0.2;
}

.card1 {
  background-color: #fff6f6;
}

.card1-title {
  color: #dd7478;
}

.card2 {
  background-color: #fffbf2;
}

.card2-title {
  color: #dfb660;
}

.card3 {
  background-color: #f3fafb;
}

.card3-title {
  color: #65b7a8;
}

.card4 {
  background-color: #f3f3fd;
}

.card4-title {
  color: #4448af;
}

.secondly-center {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0.5em;
}

.secondly-button {
  background-color: #303b59;
  height: 3em;
  border-radius: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 2em;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
