.App {
  display: flex;
  margin: 0 auto;
  margin-top: 5%;
}

.main-card {
  width: 50%;
  margin: 0 auto;
  height: 30em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 2em;
  overflow: hidden;
  background-color: white;
}

.first-card {
  background-color: #4936f2;
  flex: 1;
  height: auto;
  border-radius: 2em;
}
.secondly-card {
  background-color: #fff;
  flex: 1;
}
