* {
}

.App {
  display: flex;
  margin: 0 auto;
  margin-top: 5%;
}

@media screen and (max-width: 800px) {
  .main-card {
    flex-direction: column !important;
    height: 40em !important;
    border-radius: 0 !important;
  }
}

.main-card {
  width: auto;
  margin: 0 auto;
  height: 30em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 2em;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

:root {
  --Light_red: hsl(0, 100%, 67%);
  --Orangey_yellow: hsl(39, 100%, 56%);
  --Green_teal: hsl(166, 100%, 37%);
  --Cobalt_blue: hsl(234, 85%, 45%);

  --Light_slate_blue: hsl(252, 100%, 67%);
  --Light_royal_blue: hsl(241, 81%, 54%);

  --Violet_blue: hsla(256, 72%, 46%, 1);
  --Persian_blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale_blue: hsl(221, 100%, 96%);
  --Light_lavender: hsl(241, 100%, 89%);
  --Dark_gray_blue: hsl(224, 30%, 27%);
}
